<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Learn Sphere</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
</head>
<body>
    <div id="container">
        <div id="logo">
            <!-- Logo goes here. -->
        </div>
        <p>Learn Sphere is the best learning platform...</p>
        <div class="tabs">
            <a th:href="@{/login}" class="button">Login</a>
            <a th:href="@{/register}" class="button">Register</a>
        </div>
    </div>
</body>
</html>
